<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Teamcity - Forks" value="https://teamcity.ptfeeder.co/guestAuth/app/nuget/feed/Forks/default/v2" />
    <add key="Teamcity - ExchangeLibs" value="https://teamcity.ptfeeder.co/guestAuth/app/nuget/feed/ExchangesLib/default/v2" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>